/*以下共通エレメント*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体　!important" sans-serif;
  background-color: #0AAAEB;
}

.row img {
  display: block;
  margin: 0 auto;
}

p {
  color: white;
}


.container-fluid {
  background-color: ;
}

.section-ttl {
  background-color: white;
  border-radius: 20px;
}

.sec-ttl-sub {
  display: block;
  font-weight: bold;
  color: #0AAAEB;
  font-size: 18px;
  letter-spacing: 0.1em;
  padding-bottom: 5px;
}

.sec-ttl-main {
  font-weight: bold;
  color: #0AAAEB;
  font-size: 45px;
  letter-spacing: 0.11em;
  padding-bottom: 5px;
  font-family: 'Lato', sans-serif;
  display: block;
}

/*以下header*/
.logo_img {
  width:25%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
}


.nav-link {
  float:left;
  font-weight: bold;
  line-height: 30px;
  font-size: 15px;
  transition: 0.3s;
  margin-right: 10px;
}

.nav-link:hover {
  text-decoration: none !important;
}

.nav-link:hover {
    transition: 0.3s;
    color: #FF8D02;
    border: none;
}

.toggler {
  display: none;
}

/* 以下Top Content*/
.concept {
  padding:50px;
  margin-top: 100px;
}


.entry-box {
}

/*以下得られるもの*/
.items {
  margin: auto;
}

.item {
  float: left;
  background-color: #FDF600;
  border-style: solid;
  border-width: 5px;
  border-color: #FDF600;
  border-radius: 20px 0px 0px 20px;
  width:80px;
}

.item p {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
}

.item-content {
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: #FDF600;
  border-radius: 0px 20px 20px 0px;
  width: 160px;
}


/*以下メディアクエリ*/
@media(max-width:500px) {
  .top-head {
    font-size: 1.8rem;
    text-align: left;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }

  .section-ttl {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .sec-ttl-sub {
    font-size: 10px;
  }

  .sec-ttl-main {
    font-size: 15px;
  }
